.hidden{
    display: none;
}

.body{                                                 
    height: 100vh;
    background-size: cover;
    background-repeat : no-repeat;
    position: relative;


}


#clock{
    text-align :center;
}

#login-form{
    text-align :center;
}

#greeting{
    text-align :center;
}

#todo-form{
    text-align :center;
}

#todo-list{
    list-style-type: none;
    text-align: center;
    
}

#quote{
    text-align: center;
}
#weather{
    text-align: center;
}

.main__data{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 340px;
    top: 210px;
    font-weight: bold;
    font-size: 15px;
    color: white;
}

body img{
    width: 100vw;
    height: 100vh;
}